.notification {
  color: green;
  background: #dff0d8;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: #f2dede;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}
